nav {
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 0 5%;
}

.logo {
    width: 180px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 10px 20px;
    font-size: 16px;
    display: inline-block;
}

.dark-nav {
    background: #212EA0;
    transition: 0.5s;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: #212EA0;
    color: #fff;
    font-weight: 600;
}

/* Responsive CSS */
@media (max-width: 1024px) {
    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 768px) {
    nav ul {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        background: #212EA0;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 80px;
        transition: 0.5s;
    }

    nav ul.active {
        right: 0;
    }

    nav ul li {
        display: block;
        margin: 25px 20px;
    }

    .dark-nav {
        background: transparent;
    }

    .container.dark-nav ul {
        background: #212EA0;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 15px 3%;
    }

    .logo {
        width: 140px;
    }

    nav ul {
        width: 180px;
    }
}
